$light-primary-colour: #432d4e;
$light-secondary-colour: #fdd3a3;
$dark-primary-colour: #70b8c7;
$dark-secondary-colour: #fd9001;
$white: #fff;
$very-light-gray: #eee;
$light-gray: #d3d3d3;
$very-light-black: #000;
$light-black: #121212;
$black: #000;
